*{
    border:none;
    font-family:Inter;
    
}
header{
    max-width:110%;
    height: 400px;
    background-color: rgba(48, 48, 48, 1);
    margin-top:-21px;
    margin-left:-06px;
}
#titulo-header{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:start;
    padding: 40px;
    color: rgba(255, 255, 255, 1);
}
h1{
    font-style:semibold;
    font-size:50px;
    line-height:72px;
    margin-top: 120px;
}
#subtitulo-header {
    font-size:20px;
    line-height:28px;
    margin-top: -25px;
    
}
#menu{
    
    max-width:1344px;
    height:200px;
    background-color: rgba(249, 249, 249, 1 );
    margin-left: -5px;
}
#menu-informacao{
    display:grid;
    grid-auto-flow:column;
}
#number{
    font-size:35px;
    line-height:30px;
}
#menu-informacao{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding: 70px;
}
#menu-central{
    
    max-width:1344px;
    margin-left:-5px;
    margin-top:95px;
    display:grid;
    grid-auto-flow:column;
    
}
#central{
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align:start;
    margin-top:200px;
}
#descricao{
    font-size: 27px;
}

.formulario{
    background-color: rgba(48, 48, 48, 1);
    display:grid;
    grid-auto-flow:column;
    column:auto;
    height:600px;
    margin-top:90px;
}
#title-formulario{
    display:flex;
    flex-direction:column;
    align-items:center;

}
#title{
    color: rgba(255,255,255, 1);
    font-size:35px;
    line-height:48px;
}
input{
    width:450px;
    height:20px;
    margin-top:70px;
    border-radius:10px;
    padding: 20px;
    
}
button{
    width: 250px;
    height:60px;
    margin-left: 125px;
    margin-top: 50px;
    background-color: rgba(192, 114, 18, 1);
    color: rgba(255, 255, 255, 1);
    border-radius:10px;
    font-size:25px;
    line-height:30px;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    transform:translateY(-5px);
    box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.9);
}